body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.846;
    color: #666666;
    background-color: #ffffff;
    margin-bottom: 20px;
}


.organizer-name {
}

.organizer-name a {
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: inherit
}

.organizer-name h6 {
  margin: 4px 0;
  font-weight: 300;
  font-size: 11px;
}

.invited-speaker-name {
  margin: 8px 0;
}

